{
    "openapi": "3.0.2",
    "info": {
        "title": "CoolStore Products API ",
        "version": "1.0.0",
        "description": "OpenAPI document for Coolstore Products API"
    },
    "servers": [
        {
            "url": "https://products-api-coolstore.apps.cloud-svc-tmm.vy75.p1.openshiftapps.com"
        }
    ],
    "paths": {
        "/api/product/{id}": {
            "summary": "Get Product",
            "description": "Get Product",
            "get": {
                "tags": [
                    "products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "Product Id",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                },
                                "examples": {
                                    "Product": {
                                        "value": {
                                            "id": 64,
                                            "name": "some text",
                                            "price": 87.57
                                        }
                                    }
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "404": {
                        "description": "Product with given Id not found"
                    },
                    "500": {
                        "description": "Error"
                    }
                },
                "summary": "Get Product",
                "description": "Get Product By Id"
            }
        },
        "/api/products": {
            "summary": "Products",
            "description": "All products",
            "get": {
                "tags": [
                    "products"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Product"
                                    }
                                },
                                "examples": {
                                    "All Products": {
                                        "value": [
                                            {
                                                "id": 83,
                                                "name": "my product 1",
                                                "price": 6.08
                                            },
                                            {
                                                "id": 78,
                                                "name": "my product 2",
                                                "price": 32.99
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "OK - Get all products"
                    },
                    "500": {
                        "description": "Error"
                    }
                },
                "summary": "Get All Products",
                "description": "Get All Products"
            }
        }
    },
    "components": {
        "schemas": {
            "Product": {
                "title": "Root Type for Product",
                "description": "Product Entity",
                "type": "object",
                "properties": {
                    "id": {
                        "description": "",
                        "type": "string"
                    },
                    "name": {
                        "description": "",
                        "type": "string"
                    },
                    "description": {
                        "description": "",
                        "type": "string"
                    },
                    "price": {
                        "description": "",
                        "type": "number"
                    }
                },
                "example": {
                    "id": "123456",
                    "name": "my product",
                    "description": "description of my product",
                    "price": 100.99
                }
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "name": "user_key",
                "in": "header"
            }
        }
    },
    "security": [
        {
            "ApiKeyAuth": []
        }
    ]
}